/cours/Prog 1/exercice_1.1/cmake-build-debug/
/cours/Prog 1/exercice_1.2/cmake-build-debug/
/cours/Prog 1/exercice_1.3/cmake-build-debug/
/cours/Prog 1/exercice_1.4/cmake-build-debug/
/cours/Prog 1/exercice_1.5/cmake-build-debug/
/cours/Prog 1/exercice_1.6/cmake-build-debug/
/cours/Prog 1/exercice_tictactoe/CMakeLists.txt
/cours/Prog 1/exercice_tictactoe_1P/cmake-build-debug/
/cours/Prog 1/optimisation/cmake-build-debug/
/cours/Prog 1/test_pointeur/cmake-build-debug/
.idea/vcs.xml
